# K-NN Classification

In [1]:
import numpy as np
import pandas as pd

import scipy
import matplotlib.pyplot as plt
from pylab import rcParams

import sklearn
from sklearn.neighbors import KNeighborsClassifier
from sklearn import neighbors, preprocessing, metrics
from sklearn.model_selection import train_test_split

In [2]:
np.set_printoptions(precision=4, suppress=True)
%matplotlib inline
rcParams['figure.figsize'] = 8, 7
plt.style.use('seaborn-whitegrid')

In [3]:
address = 'C:/Users/Beedoo/Desktop/Data/mtcars.csv'
cars = pd.read_csv(address)
cars.columns = ['car_names', 'mpg', 'cyl', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs', 'am', 'gear', 'carb']
cars.head()

,car_names,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [5]:
X_dataset = cars.iloc[:, cars.columns.get_indexer(['mpg', 'disp', 'hp', 'wt'])]
y = cars.iloc[:, cars.columns.get_loc('am')]

In [6]:
X = preprocessing.scale(X_dataset)

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=17)

In [8]:
knnClassifier = neighbors.KNeighborsClassifier()
knnClassifier.fit(X_train, y_train)
print(knnClassifier)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform')

In [9]:
y_expect = y_test
y_predicted = knnClassifier.predict(X_test)
modelReport = metrics.classification_report(y_expect, y_predicted)
print(modelReport)

             precision    recall  f1-score   support

          0       0.71      1.00      0.83         5
          1       1.00      0.67      0.80         6

avg / total       0.87      0.82      0.82        11